@use '/src/styles/index.scss' as *;

.header {
  max-width: 350px;
  padding: 0 15px;
  margin: 20px 0 30px 0;

  a {
    text-decoration: none;
  }
}

.title {
  font-family: $PassionOne;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0px;
  color: #f86600;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
