@use '/src/styles/index.scss' as *;
.options {
  min-width: 260px;
  max-width: 260px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.options:after {
  display: block;
  content: '|';
  position: absolute;
  left: 50%;
  transform: translate(-16px, -1px);
  @media (min-width: 660px) {
    transform: translate(-19px, 0px);
  }
}
.button {
  padding: 0;

  font-family: HelveticaRegular;
  font-weight: $fw-regular;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.active {
  font-family: HelveticaBold;
  font-weight: $fw-bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  position: relative;
  letter-spacing: 1px;
}

.active:after {
  display: block;
  content: '';
  width: 100%;
  position: absolute;
  bottom: 3px;
  border-bottom: 1px solid white;
}
