.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
  position: relative;
}

.content {
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 10;

  @media (min-width: 875px) {
    display: flex;
    flex-direction: row;
  }
}

.content:after {
  display: block;
  content: url('/assets/planeta_desktop.svg');
  position: absolute;
  left: -250px;
  z-index: -1;
  position: fixed;
  @media (min-width: 500px) {
    display: block;
    left: -150px;
  }
  @media (min-width: 1055px) {
    display: block;
    left: -90px;
  }

  @media (min-width: 1160px) {
    display: block;
    left: 0;
  }
  @media (min-width: 2000px) {
    display: block;
    content: url('/assets/planeta_full.svg');
    position: absolute;
    left: 0;
    z-index: -1;
    position: fixed;
  }
}
